h1{
    color: rgb(10, 88, 231);
    font-size: 48px;
}
body {
    background-color: rgb(240, 147, 178);
    color: #000000;
    font-family: Arial;
    font-size: 24px;
    text-align: center;
     } 
